<!-- new style -->
<nav class="navbar navbar-default">
  <div class="container-fluid" id="headNav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img src="/images/Path.png" id="img1" alt="dealpot logo"></a>
      <a href="/"><img src="/images/Dealpot.png" alt="dealpot logo" id="deal"></a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/images/menu.png" alt="please change me to an icon" style="width:20px"> <span id="cat">   All Categories </span>   <ul class="dropdown-menu">
            <li>
            <a class="dropdown-item" href="/category-fashion">Fashion</a>
            <a class="dropdown-item" href="/category-edible">Food &amp; Groceries</a>
            <a class="dropdown-item" href="/category-care">Health &amp; Beauty</a>
            <a class="dropdown-item" href="/category-home-kitchen">Home &amp; Kitchen</a>
            <a class="dropdown-item" href="/category-office-school">Office &amp; School</a>
            <a class="dropdown-item" href="/category-phone">Phone &amp; Tablet</a>
            <a class="dropdown-item" href="/category-computing">Computing</a>
            <a class="dropdown-item" href="/category-tech-accessories">Tech Accessories</a>
            <a class="dropdown-item" href="/category-electronics">Electronics</a>
            <a class="dropdown-item" href="/category-video-game">Gaming</a>
            <a class="dropdown-item" href="/category-automobile">Automobile</a>
            <a class="dropdown-item" href="/category-baby-product">Baby products</a>
            <a class="dropdown-item" href="/category-sports">Sporting Goods</a>
          </li>
          </ul>
        </li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        
        <form class="navbar-form navbar-left" id="search-form">
          <div class="form-group">
            <form class="d-flex" >
              <input class="form-control me-2" type="search" placeholder="What deal do you want?..." id="search-box" required name="search" value="<%=searchTerm%>">
                      <!-- not useful -->
              <!-- <label class="form-label" for="form1" aria-label="Search" required name="search" id="search-box" ></label> -->

  <button type="submit" class="btn btn-primary" id="search-btn"><i class="fa fa-search"></i></button> 
        </form>
        </div>
      </form>

        <% if(user) {%>
          <div class="dropdown icon">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%=`Hi, ${user.username}`%>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/customer/wishlist">Saved Items</a>
                <hr>
                <a class="dropdown-item" href="/customer/logout">LOGOUT</a>
            </div>
          </div>
          <% }else{ %>
            <li class="icon"><i class="fa fa-user-circle fa-2x" data-toggle="modal" data-target="#myModal"></i>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog " role="document">
                  <div class="modal-content">
                  
                    
                     
                    </div>
                    <div class="modal-ola">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="padding-right: 1em;">&times;</span></button>
                                <div class="card-block">
                                    <div class="row" id="sigRow">
                                        <div class="col-md-12">
                                            <h3 class="text-center heading">SIGN IN</h3>
                                        </div>
                                    </div>
                                    <div class="row" id="sigRow">
                                    <div class="col-md-8">
                                    <div class="form-group form-primary"> <input type="text" class="form-control" name="email" value="" placeholder="Email" id="email"> </div>
                                    <div class="form-group form-primary"> <input type="password" class="form-control" name="password" placeholder="Password" value="" id="password"> </div>
                                    
                                    <div class="row" id="sigRow">
                                        <div class="col-md-6"> <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="submit" value="SIGN IN" style="font-size: 20px;">
                                        </div>
                                    </div>
                                    <div class="or-container">
                                        <div class="line-separator"></div>
                                        <div class="or-label">or</div>
                                        <div class="line-separator"></div>
                                    </div>
                                    <div class="row" id="sigRow">
                                        <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="/auth/google"><img src="https://img.icons8.com/color/16/000000/google-logo.png" > Sign In Using Google</a> </div>
                                    </div> <br>
                                    <p class="text-inverse text-center" style="color:white;">Don't have an account? <a href="" data-abc="true">Sign Up</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                   
                  </div>
                </div>
            
            </li>
            <% } %>
            <li class="icon">
            <% if(user) { %>
              <i class="<%=`fa fa-bell fa-2x ${user.numbOfNotification ? 'text-danger' : 'fa-2x-custom'}`%>" id="notification-btn" data-toggle="modal" data-target="#mymodalNot"></i>
          <% }else{ %>
            <i class="fa fa-bell fa-2x" data-toggle="modal" data-target="#mymodalNot"></i>
         <% } %>
          
        </li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="modal fade" id="mymodalNot" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Notifications</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <%if(!user){%>
            <div class="row">
              <div class="col-auto">
                <h3>No notification. Login to get updates on price changes.</h3>
              </div>
            </div>
          <%}else{%>
          <% if(user.notifications.length) {%>
            <ul class="media-list">
            <%user.notifications.forEach(prod=>{%>
                <li class="media">
                      <img src="<%=prod.img%>" class="media-left" alt="notification-picture" style="width: 10%;">
                  <div class="media-body">
                      <%=prod.message%>
                  </div>
                </li>
                <hr>
            <%})%>
          </ul>
          <%}else{%>
            <div class="row">
              <div class="col-auto">
                <h3>No notification yet.</h3>
              </div>
            </div>
          <%}%>
          <%}%>
      </div>
    </div>
  </div>
</div>
</div>













      
     
         
  <script>
    const notificationBtn = document.getElementById("notification-btn");
    const form = document.getElementById("search-form");
    const input = document.getElementById("search-box");
    const searchBtn = document.getElementById("search-btn");
    const currentUrl = location.origin;

document.addEventListener("DOMContentLoaded",()=>{
    searchBtn.addEventListener("click",(e)=>{
        if(input.value.length){
            location.assign(`${currentUrl}/search/?q=${input.value}`);
        }
    });
    form.addEventListener("submit",(e)=>{
        e.preventDefault();
        location.assign(`${currentUrl}/search/?q=${input.value}`);
    });
});
    function myFunction(id) {
      if(id === 'myDropdown'){
        document.getElementById(id).classList.toggle("show");
      }else{
        document.getElementById("allCategories").className = "dropdown-content show";
      }
    
  }
     try {
      const notificationBtn = document.getElementById("notification-btn");
    notificationBtn.addEventListener("click",async()=>{
      const response = await fetch(`${location.origin}/customer/notification`,{method:"POST",headers: {
      'Content-Type': 'application/json'
    },body:JSON.stringify({pwd:true})});
     const result = await response.json();
     if(result.message){
      notificationBtn.style = "color:#FFB74D";
     }
    })
    } catch (error) {
      console.log(error);
    } 
  </script> 