<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dealpot</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
   
      <%- include('header') -%>
      <div id="user-modal" data-toggle="modal" data-target="#staticBackdrop">
       
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width: 60%;">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Price History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
      </div>
    </div>
  </div>
</div>
      </div>
              <div class="deals">
                <div class="cont-head">
                <h3>Home &#65125; Saved Items</h3>
            </div>
            
            <div class="row" id="main-search" data-id="<%=result.length%>">
              <%if (result.length) {%>
                <%result.forEach(prod=>{%>
                    <div class="product-grid">
                      <img src="<%=prod.imgUrl%>" alt="<%=prod.itemTitle%>" >
                     
                        <h6 class="caption-tems"><%=prod.vendor%></h6>
                        <h5 id="nameTag"><%=prod.title%></h5>
                        <span>
                          <i class="fas fa-trash heart-color" id="like" data-id="<%=prod.url%>"></i>
                        </span>
                        <h5 class="priceTag"><%=prod.price%></h5>
                        <button class="getVendor" id="modal-btn" data-id="<%=prod._id%>" data-toggle="modal" data-target="#staticBackdrop">Price History</button>
                        <br>
                        <span id="bell2" style="color:#D4BB98;"><i class="fa-bell <%=prod.notify ? 'fas' : 'far'%>" id="notify" data-id="<%=prod.url%>"></i></span>
                        <a class="getVendorLink" href="<%=prod.url%>" target="_blank">Go to vendor</a>
                    </div>
                  <%})%>
                 <%}else{%>
                    <h1>No saved item yet</h1>
                 <%}%>
                      </div>
              </div>
  
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <script src="/js/wishlist.js"></script>
</body>
</html>