<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dealpot | Saved Items </title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"   
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
   
      <%- include('header') -%>
      <div id="user-modal" data-toggle="modal" data-target="#staticBackdrop">
       
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width: 60%;">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Price History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
      </div>
    </div>
  </div>
</div>
      </div>
              <div class="deals">
                <div class="cont-head">
                <h3>Home &#65125; Saved Items</h3>
            </div>
            
            <div class="row display-products" id="main-search" data-id="<%=result.length%>">
              <%if (result.length) {%>
                <%result.forEach(prod=>{%>
                    <div class="product-grid">
                      <img src="<%=prod.imgUrl%>" alt="<%=prod.itemTitle%>" >
                      <span>
                        <i class="fas fa-trash heart-color" id="like" data-id="<%=prod.url%>"></i>
                      </span>
                        <h6 class="caption-tems"><%=prod.vendor%></h6>
                        <h5 id="nameTag"><%=prod.title%></h5>
                        
                        <h5 class="priceTag"><%=prod.price%></h5>
                        <button class="btn btn-primary" id="modal-btn" data-id="<%=prod._id%>" data-toggle="modal" data-target="#staticBackdrop">Price History</button>
                        <a class="btn btn-primary" href="<%=prod.url%>" target="_blank">Go to vendor</a>
                        <span><i class="fa-bell <%=prod.notify ? 'fas' : 'far'%>" id="notify" data-id="<%=prod.url%>"></i></span>
                    </div>
                  <%})%>
                 <%}else{%>
                    <h1>No saved item yet</h1>
                 <%}%>
                      </div>
              </div>
  
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- <script src="/js/index.js"></script> -->
    <script src="/js/wishlist.js"></script>
</body>
</html>